@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Trade+Winds&display=swap');
* {
    box-sizing: border-box;
    /*margin:0px;
    padding:0px;*/
}
body {
    background-color:#fff;
    font-family:'Open Sans', sans-serif;
    font-size:15px;
    display:flex;
    margin:0;
    min-height:100vh;
}
main h1{
    font-family: Arial, Helvetica, sans-serif;
    color:#666666;
    
}
.forma{
    display:none;
}
header {
    position: fixed;
    left:0;
    top:0;
    right:0;
    height:60px;
    background-color:#000;
    display:none;
    justify-content: flex-end;
    align-items: center;
}
.menu-openner {
    margin-right: 15px;
    font-size: 26px;
    background-color: #a9dcff;
    padding: 5px 20px;
    border-radius: 5px;
}
.menu-openner span {
    margin-right:10px;
}
.menu-closer {
    width:32px;
    height:32px;
    display:none;
    font-size: 30px;
}
main {
    flex:1;
    padding:20px;
}
.boneco-area {
    display:grid;
    grid-template-columns: repeat(5, 1fr);
}
.boneco-item {
    text-align: center;
    max-width:232px;
    max-height:356px;
    font-family:'Hepta Slab', Helvetica, Arial;
    margin:0px auto 50px auto;
    background-color:#fff;
    box-shadow:0px 2px 6px rgba(0, 0, 0, 0.377);
}
.boneco-item a {
    display:flex;
    flex-direction: column;
    align-items:center;
    text-decoration: none;
    
}
.boneco-item--img {
    width:232px;
    height:260px;
    background-color:#fff;
}
.boneco-item--img img {
    width:172px;
    height:270px;
   
    
}

.boneco-item--price {
    font-family: 'Arial';
    font-size:18px;
    color:#666666;
    font-weight: bold;
    margin-top:10px;
}
.boneco-item--name {
    font-family: 'Arial';
    font-size:14px;
    font-weight: normal;
    color:#66667f;
    margin-top:10px;
}
.boneco-item--desc {
    display:none;
    font-family: 'Arial';
    font-size:13px;
    color:#907b7b;
    margin-top:10px;
}
.bonecoWindowArea {
    position:fixed;
    left:0;
    top:0;
    bottom:0;
    right:0;
    background-color:rgba(255, 255, 255, 0.5);
    display:none;
    transition: all ease .5s;
    justify-content: center;
    align-items: center;
    overflow-y:auto;
}
.bonecoWindowBody {
    width:900px;
    background-color:#FFF;
    border-radius:10px;
    box-shadow:0px 0px 15px #999;
    display:flex;
    margin:20px 0px;
}
.bonecoBig {
    flex:1;
    display:flex;
    justify-content: center;
    align-items: center;
}
.bonecoBig--back {
    position:absolute;
    width:30px;
    height:30px;
    background-color:#000;
}
.bonecoBig img {
    height:400px;
    width:auto;
}
.bonecoInfo {
    flex:1;
    font-family:'Hepta Slab', Helvetica, Arial;
    padding-bottom:50px;
}
.bonecoInfo h1 {
    margin-top:50px;
}
.bonecoInfo .bonecoInfo--desc {
    font-size:15px;
    color:#999;
    margin-top:10px;
    font-family:'Lato',Helvetica,Arial;
}
.bonecoInfo--sector {
    color:#CCC;
    text-transform: uppercase;
    font-size:14px;
    margin-top:30px;
    margin-bottom:10px;
}
.bonecoInfo--sizes {
    display:inline-flex;
    border-radius:10px;
    overflow:hidden;
}
.bonecoInfo--size {
    padding:10px 15px;
    color:#000;
    background-color:#EEE;
    font-size:13px;
    font-weight: bold;
    cursor:pointer;
}
.bonecoInfo--size:hover {
    background-color:#CCC;
}
.bonecoInfo--size.selected {
    background-color:#399ade;
    color:#FFF;
}
.bonecoInfo--size.selected span {
    color:#D6D6D6;
}
.bonecoInfo--size span {
    font-size:12px;
    color:#999;
    font-weight: normal;
}
.bonecoInfo--price {
    display:flex;
    align-items:center;
}
.bonecoInfo--actualPrice {
    font-size:28px;
    margin-right:30px;
}
.bonecoInfo--qtarea {
    display:inline-flex;
    background-color:#EEE;
    border-radius:10px;
    height:30px;
}
.bonecoInfo--qtarea button {
    border:0;
    background-color:transparent;
    font-size:17px;
    outline:0;
    cursor:pointer;
    padding:0px 10px;
    color:#333;
}
.bonecoInfo--qt {
    line-height: 30px;
    font-size: 12px;
    font-weight: bold;
    padding: 0px 5px;
    color:#000;
}
.bonecoInfo--addButton {
    margin-top:30px;
    padding:20px 30px;
    border-radius:20px;
    background-color:#48d05f;
    color:#FFF;
    display:inline-block;
    cursor:pointer;
    margin-right:30px;
}
.bonecoInfo--addButton:hover {
    background-color:#32a345;
}
.bonecoInfo--cancelButton {
    display:inline-block;
    cursor:pointer;
}
.bonecoInfo--cancelMobileButton {
    display:none;
    height:40px;
    text-align:center;
    line-height: 40px;
    margin-bottom:30px;
}